$jc: center;
$ai: center;
$fw: wrap;

@mixin justify($jc, $ai, $fw) {
  	display: flex;
	justify-content: $jc;
	align-items: $ai;
	flex-wrap: $fw;
}

.btn-burger {
	display: none;
    width: 5rem;
    height: 5rem;
    border-radius: 5px;
    cursor: pointer;
    background: none;
	span {
		position: absolute;
		background: #fff;
		width: 26px;
		height: 2px;
		border-radius: 10px;
		-webkit-transition: 0.1s ease-out 0.1s;
	    -moz-transition: 0.1s ease-out 0.1s;
	    -o-transition: 0.1s ease-out 0.1s;
	    transition: 0.1s ease-out 0.1s;
		&:first-child {
			margin-top: -10px;
		}
		&:last-child {
			margin-top: 10px;
		}
	}
	.active {
	    &:first-child,
	    &:last-child {
	    	margin: 0;
	    }
		&:first-child {
			-moz-transform: rotate(45deg);
		    -ms-transform: rotate(45deg);
		    -webkit-transform: rotate(45deg);
		    -o-transform: rotate(45deg);
		    transform: rotate(45deg);
		}
		&:last-child {
			-moz-transform: rotate(-45deg);
		    -ms-transform: rotate(-45deg);
		    -webkit-transform: rotate(-45deg);
		    -o-transform: rotate(-45deg);
		    transform: rotate(-45deg);
		}
		&:nth-child(2) {
			width: 0;
		}
	}
}
.menuMobile {
	display: none;
}
@media (max-width: 767px) {
	.btn-burger {
		@include justify($jc, $ai, nowrap);
		margin: 0 2rem;
	}
	.menuMobile {
		position: absolute;
		z-index: 2;
		background: rgba(0,0,0,0.75);
		width: 100%;
		text-align: center;
		ul {
			padding: 1rem 0;
			li {
				padding: 1rem;
				a {
					color: #ffffff;
					font-size: 3rem;
				}
			}
		}
	}
}